/*
Light green: #7e56f
Medium green #55c57a
Dark green ##28485 


light barckground:F7FFF7
meidum :4ECDC4
dark:1A535C
yellow:FFE66D
warm red:FF6B6B
 */

/* Reset univeral parameters */
// :root {
//   --light-green: #f7fff7;
//   --medium-green: #4ecdc4;
//   --dark--green: #1a535c;
//   --light-yellow: #ffe66d;
//   --warm-red: #ff6b6b;
// }
//  variable
$light-green: #f7fff7;
$medium-green: #4ecdc4;
$dark--green: #1a535c;
$light-yellow: #ffe66d;
$warm-red: #ff6b6b;
$white: white;

// car color
$medium-yellow:#ffb703;
$orange:#fb8500;

$medium-blue:#4cc9f0;
$dark-blue:#4895ef;

// Font
$default-dont-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;