.card{
    perspective:150rem;
    // for firefox to use -moz
    -moz-perspective: 150rem; 
    position: relative;
    height: 60rem;
    
    &__side{
    
        font-size: 2rem;
        height: 60rem;

        transition: all .9s ;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility:hidden;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: .15);

        &--front{
            background-color: white;
        }

        &--back{
           
            transform: rotateY(180deg); 

            &-1 {
                background-image:linear-gradient(to right bottom,$light-yellow,$orange);
            }
            &-2 {
               
                background-image:linear-gradient(to right bottom,$medium-green,$dark--green);
            }
            &-3 {
                background-image:linear-gradient(to right bottom,$medium-blue,$dark-blue);
            }
        }
      
    }
    
    &:hover &__side--front{
        transform: rotateY(180deg); 
       
    }
    &:hover &__side--back{
        transform: rotateY(0); 
       
    }

    // Fornt side styling
    &__picture{
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        height: 50%;
        &--1{
            background-image: url("../images/babystroller-1_1x.jpg");
            @media(min-resolution:192dpi) and (min-width:600px){
                background-image: url("../images/babystroller-1_3x.jpg");
                
            }
            
            
        }
        &--2{
            background-image: url("../images/babystroller-2_1x.jpg");
            @media(min-resolution:192dpi) and (min-width:600px){
                background-image: url("../images/babystroller-2_2x.jpg");
            }
        }
        &--3{
            background-image: url("../images/babystroller-3_1x.jpg");
            @media(min-resolution:192dpi) and (min-width:600px){
                background-image: url("../images/babystroller-3_3x.jpg");
            }
        }


    }
    &__heading{
        font-size: 2.4rem;
        font-weight: 400;
        // text-transform: uppercase;
        color: $dark--green;
        text-align: center;
        line-height: 3rem;
    }

    &__details{
        padding:0 2rem;
        ul{
            list-style: none;
            width: 90%;
            margin: 0 auto;
            li{
                color: $dark--green;
                font-size:  1.5rem;
                padding: 1rem;
                &:not(:last-child){
                    border-bottom:  1px solid $medium-green;
                }
            }
            
            

          
        }
        @include respond(tab-port){
            text-align: center;
        }
      
    }

    //Front side sytle
    &__cta{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 90%;
        text-align: center;
    }

    &__price-box{
        text-align: center;
        color: white;
        margin-bottom: 8rem;
    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value{
        font-size: 6rem;
        font-weight: 300;
    }

    @include respond(tab-port){
     
        height: auto;
        box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: .15);
        &__side{
        
            font-size: 2rem;
            height: 60rem;
    
            position: relative;
            
            &--front{
                border-radius: 1rem 1rem 0 0 ;
            }
            
            &--back{
                height: 30rem;
                transform: rotateY(0); 
                border-radius: 0 0 1rem 1rem ;
            }
          
        }
        
        &:hover &__side--front{
            transform: rotateY(0); 
           
        }
        &:hover &__side--back{
            transform: rotateY(0); 
           
        }
    
    
    
        //Front side sytle
        &__cta{
            position: relative;
            top:0%;
            left:0%;
            transform: translate(0);
            width: 100%;
            padding: 4rem;
    
        }
    
        &__price-box{

            margin-bottom: 3rem;
        }
        &__price-only{
            font-size: 3rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }
        &__price-value{
            font-size: 6rem;
            font-weight: 300;
        }
    }
}