.card{
    perspective:150rem;
    // for firefox to use -moz
    -moz-perspective: 150rem; 
    position: relative;
    height: 60rem;
    
    &__side{
    
        font-size: 2rem;
        height: 60rem;

        transition: all .9s ;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility:hidden;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: .15);

        &--front{
            background-color: white;
        }

        &--back{
           
            transform: rotateY(180deg); 

            &-1 {
                background-image:linear-gradient(to right bottom,$light-yellow,$orange);
            }
        }
      
    }
    
    &:hover &__side--front{
        transform: rotateY(180deg); 
       
    }
    &:hover &__side--back{
        transform: rotateY(0); 
       
    }

    // Fornt side styling
    &__picture{
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        height: 50%;
        &--1{
            background-image: url("../images/babystroller-1.jpeg");
            
        }
        &--1{
            background-image: url("../images/babystroller-1.jpeg");
        }
        &--1{
            background-image: url("../images/babystroller-1.jpeg");
        }


    }
    &__heading{
        font-size: 2.4rem;
        font-weight: 400;
        // text-transform: uppercase;
        color: $warm-red;
        text-align: center;
        line-height: 3rem;
    }

    &__details{
        padding:0 2rem;
        ul{
            list-style: none;
            width: 90%;
            margin: 0 auto;
            li{
                color: $orange;
                font-size:  1.5rem;
                padding: 1rem;
                &:not(:last-child){
                    border-bottom:  1px solid $light-yellow;
                }
            }
           

          
        }
    }
}