.heading-primary {
  color: $light-green;
  text-transform: uppercase;
  /* fix animation glitch */
  backface-visibility: hidden;
  margin-bottom: 5rem;
  //.heading-primary--main
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    line-height: 6rem;
    animation: mobveInLeft 1s ease 0.3s;
  }
  //.heading-primary--sub
  &--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    animation: moveInRight 1s ease 0.3s;
  }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700l;
    display: inline-block;
    // /background-image: $dark--green;
    // /-webkit-background-clip: text;
    color:  $dark--green;
    letter-spacing: 2px;
    transition: all .2s;
    &:hover{
        transform-origin: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(0,0,0, 2);
    }

}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}