.section-about{
    background-color: $light-green;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
     background-image: linear-gradient(
         to right bottom,
         #4ecdc5b4,#1a535cc5),
      url("https://images.unsplash.com/photo-1487687944474-d9cf58dda287?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1866&q=80");
      background-size: cover;
      background-position: bottom left;
       margin-top:-15rem;

      transform:  skewY(-7deg);

      & > *{
        transform:  skewY(7deg);
      }
}

.section-product{
    background-color: $light-green;
    padding: 15rem 0 10rem 0; 
}

.setcion-stories{
    border:1px solid red;
    padding: 15rem 0;
    background-color: $light-green;
}